<?xml version="1.0" encoding="UTF-8"?>
<project>

<objects>
		<object name="M_81" aliases="M 81, bode galaxy">
			<exposures>
				<filter name = "L" subexposures = "180" requiredTotalExposure = "10*3600" gain = "56" offset="30" binning="1" />
 				<filter name = "R, G, B" subexposures = "120" requiredTotalExposure = "2*3600" gain = "56" offset="30" binning="1" /> 
				<filter name = "Ha" subexposures = "600" requiredTotalExposure = "8*3600" gain = "56" offset="30" binning="1" />
			</exposures>
			<referenceFit file="auto" />
			<camera temperature="-5" width="6252" height="4176" />
			<filename regexes="^.*%%OBJECT%%.*" />
		</object>
</objects>

</project>


