<?xml version="1.0" encoding="UTF-8"?>
<config>
	
<general>
	<fitfile extensions="fit, fits, fits.gz, fit.gz" />
	<filters naturalOrder="L, R, G, B, Ha, OIII, SII" />
</general>

<astrobin>
	<filtersID L="4732" R="4652" G="4646" B="4640" Ha="4665" SII="4846" OIII="4775" />
	<equipment focalRatio="5.5" darks="50" flats="20" bias="500" />
</astrobin>

</config>
